label {
  color: #8A8;
}

h1,
textarea,
#output {
  border-color: #CCC;
}

#source {
  background-color: #FFF;
  color: #036;
  box-shadow: 0 0 3px rgba(0,32,64,0.25);
}

#output {
  background-color: #DFD;
  color: #030;
  box-shadow: 0 0 3px rgba(0,64,32,0.25);
}

button {
  border-color: #000;
  text-shadow: 0 0 3px rgba(0,0,0,1);
  color: #FFF;
  background: rgb(191,210,85);
  background: -moz-linear-gradient(top,  rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,210,85,1)), color-stop(50%,rgba(142,185,42,1)), color-stop(51%,rgba(114,170,0,1)), color-stop(100%,rgba(158,203,45,1)));
  background: -webkit-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);
  background: -o-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);
  background: -ms-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);
  background: linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 );
}

button:hover {
  background: rgb(196,213,97);
  background: -moz-linear-gradient(top,  rgba(196,213,97,1) 0%, rgba(155,202,46,1) 50%, rgba(129,194,0,1) 51%, rgba(167,211,55,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(196,213,97,1)), color-stop(50%,rgba(155,202,46,1)), color-stop(51%,rgba(129,194,0,1)), color-stop(100%,rgba(167,211,55,1)));
  background: -webkit-linear-gradient(top,  rgba(196,213,97,1) 0%,rgba(155,202,46,1) 50%,rgba(129,194,0,1) 51%,rgba(167,211,55,1) 100%);
  background: -o-linear-gradient(top,  rgba(196,213,97,1) 0%,rgba(155,202,46,1) 50%,rgba(129,194,0,1) 51%,rgba(167,211,55,1) 100%);
  background: -ms-linear-gradient(top,  rgba(196,213,97,1) 0%,rgba(155,202,46,1) 50%,rgba(129,194,0,1) 51%,rgba(167,211,55,1) 100%);
  background: linear-gradient(top,  rgba(196,213,97,1) 0%,rgba(155,202,46,1) 50%,rgba(129,194,0,1) 51%,rgba(167,211,55,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4d561', endColorstr='#a7d337',GradientType=0 );
}

button:active {
  background: rgb(210,234,76);
  background: -moz-linear-gradient(top,  rgba(210,234,76,1) 0%, rgba(164,225,23,1) 50%, rgba(129,194,0,1) 51%, rgba(176,233,33,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(210,234,76,1)), color-stop(50%,rgba(164,225,23,1)), color-stop(51%,rgba(129,194,0,1)), color-stop(100%,rgba(176,233,33,1)));
  background: -webkit-linear-gradient(top,  rgba(210,234,76,1) 0%,rgba(164,225,23,1) 50%,rgba(129,194,0,1) 51%,rgba(176,233,33,1) 100%);
  background: -o-linear-gradient(top,  rgba(210,234,76,1) 0%,rgba(164,225,23,1) 50%,rgba(129,194,0,1) 51%,rgba(176,233,33,1) 100%);
  background: -ms-linear-gradient(top,  rgba(210,234,76,1) 0%,rgba(164,225,23,1) 50%,rgba(129,194,0,1) 51%,rgba(176,233,33,1) 100%);
  background: linear-gradient(top,  rgba(210,234,76,1) 0%,rgba(164,225,23,1) 50%,rgba(129,194,0,1) 51%,rgba(176,233,33,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ea4c', endColorstr='#b0e921',GradientType=0 );
}

#output em,
#time-elapsed,
h1 .version {
  opacity: 0.5;
}

a {
  color: #393;
}
